.StyledChatArea {
  color: #2a2829;
  background-color: $body-bg-primary;
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 72vh;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  right: 25vh;
  padding-inline: 10px;
  padding-top: 10px;

  .small-scrollbar {
    display: block;
    overflow: auto;
  }
}

.small-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}
