.Course {
  .Panel {
    .PanelSubHeader {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .PanelImage img {
        height: 120px;
        width: 120px;
        max-height: 120px;
        max-width: 120px;
        border-radius: 50%;
        //margin: 0;

        margin-left: 2rem;
        margin-right: 8rem;
        margin-bottom: 1rem;
      }
      .PanelTopic {
        display: flex;
        flex-direction: column;

        .SubjectName h3 {
          font-weight: 600;
          font-size: 1.8rem;
          margin: auto 0;
          color: $header-secondary;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        .TutorProfileButton {
          width: max-content;
          display: flex;
          flex-direction: row;
          border-radius: 25px;
          //border: 1px solid #1e90ff;
          padding-right: 20px;
          margin-top: 1rem;
          background-color: #fff;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          cursor: pointer;
          color: #1e90ff;
          .link {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            color: $header-primary;

            .UserImg img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin: 0px 0.7em 0px 0em;
              border: 2px solid #1e90ff;
            }
            .Name {
              font-weight: 600;
              padding-top: 10px;
            }
          }
        }

        .TutorProfileButton:hover {
          border: 1px solid #1e90ff;
          background-color: #1e90ff;
          color: #fff;
        }
      }
    }
  }
}
