.MainPanel {
  margin: 2rem auto;
  width: 80%;
  height: 84vh;
  overflow-y: scroll;

  .PanelHeader h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.2rem;
    color: $header-primary;
  }
  .Panel {
    .PanelSubheader h5 {
      font-weight: 500;
      font-size: 1.2rem;
      color: $header-primary;
    }
    .PanelBody {
      margin: 0rem 0rem 2rem 0rem;
      display: flex;
      flex-direction: row;
      align-content: center;
      width: 100%;
      .Card {
        width: 30%;
        margin: 1rem 10px;
        display: flex;
        flex-direction: row;
      }
      .CardImage img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 0.4rem 0.7rem auto auto;
      }
      .CardBody {
        width: 65%;
        .CardButton {
          float: right;
          padding: 5px 20px;
          background-color: $btn-bg-green;
          font-size: 14px;
          color: $body-bg-tertiary;
          border: 1px solid $btn-bg-green;
        }
        .CardButton:hover {
          border: 1px solid $btn-bg-green;
          background-color: #fff;
          color: $btn-bg-green;
        }
      }
      .SearchContainer {
        display: flex;
        justify-content: right;
        padding-top: 1rem;
        .SearchDescr h2 {
          padding-top: 3.4rem;
          padding-left: 1rem;
          font-weight: 800;
          font-size: 2.4rem;
          color: #012250;
        }
        img {
          max-width: 60%;
          align-content: center;
          position: relative;
        }
        .Searchbar {
          position: absolute;
          top: 77vh;
          left: 29vw;
        }
      }
    }
  }
}
