.Notifications {
  .PanelBody {
    width: 90%;
    margin: auto;
    margin-top: 3rem;

    .accordion {
      .accordion-item {
        border-radius: 15px;
        margin-bottom: 1rem;
        //border:none;
        //background-color: #ddf3fa;
        background-color: #fff;
        border: 1px solid #ddf3fa;

        .accordion-header {
          .accordion-button {
            color: $header-primary;
            font-weight: 600;
            border-radius: 15px;
          }
          .accordion-button:hover {
            background-color: #ddf3fa;
            color: #1e90ff;
          }

          .accordion-button:not(.collapsed) {
            //background-color: rgba(221, 243, 250, 0.9);
            //background-color: #fff;
            background-color: #ddf3fa;
            color: #1e90ff;
            //background-color: #012250;
            //color: #1e90ff;
            //color: #fff;
            border-radius: 15px;
          }
        }
        .accordion-body {
          //background-color: #ddf3fa;
          .description {
            color: #012250;
            padding-bottom: 0.8rem;
          }

          .date {
            color: $header-primary;
            text-align: right;
            font-weight: 600;
          }
          .time {
            color: $header-primary;
            text-align: right;
            font-weight: 600;
          }
        }
      }
    }
  }
}
