.noteheader {
    font-weight: 700;
    font-size: 14px;
    color: $header-secondary;
    margin-bottom: 0.2rem;
  }
.notedetails {
  font-size: 14px;
  font-weight: 400;
  color: $content-primary;
}
.Reacticonbtn {
  width:max-content;
  border-radius:10px;
  padding: 4px 7px;
  font-size: 12px;
  font-weight:600;
}
.Reacticon {
    border: none;
  font-size: 1rem;
  margin-right: 10px;
}
.download{
  color:#2ecc71;
  border:1px solid #2ecc71;
}
.download:hover{
  background-color:#2ecc71;
  color:#fff;
}
.remove{
  color:#ee5253;
  border:1px solid #ee5253;
}
.remove:hover{
  background-color:#ee5253;
  color:#fff;
}
.archive{
  color:#1e90ff;
  border:1px solid #1e90ff;
}
.archive:hover{
  background-color:#1e90ff;
  color:#fff;
}






