.Searchbar {
  background-color: #ededed;
  border-radius: 25px;
  margin-top: 0.7rem;
  padding: 1rem;
  background-color: #ededed;
  width: 55%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  input {
    width: 92%;
    align-content: center;
    border: none;
    margin-left: 15px;
    padding: 5px 20px 5px 0px;
    background-color: #ededed;
    line-height: 1rem;
    font-size: 1rem;
    color: $header-primary;
    font-weight: 500;
    //border-radius: 25px;
  }
  .SearchIcon {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    background-color: $header-primary;
  }
  .SearchIcon:hover {
    color: $header-primary;
    background-color: #fff;
  }
}
