.UserProfileNavbar {
  background-color: #fafcfe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 15px;

  .UserProfileButton {
    width: 60%;
    margin: auto;
    background-color: #fafcfe;
    border-radius: 20px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .link {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      color: $header-primary;

      .UserImg img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        //margin: 0px 0.8em;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0.8rem;
      }
      .Name {
        font-weight: 600;
        padding-top: 13px;
      }
    }
  }

  .UserProfileButton:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: $body-bg-primary;
    border: none;

    .link:hover {
      color: #1e90ff;
    }
  }
  .Bell-icon {
    color: $header-secondary;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin: auto 5px;
    margin-top: 3px;
    border-radius: 50%;
  }
  .Bell-icon:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .link {
    .SignoutBtn {
      .Button {
        color: $header-secondary;
        font-size: 14px;
        font-weight: 500;
        box-shadow: none;
        border: none;
        margin-top: 5px;
        margin-left: 1rem;
        margin-right: 2rem;
      }
      .Button:hover {
        color: #1e90ff;
      }
    }
  }
}
