.FreeCard {
  .Tabs {
    width: 100%;
    .tab-content {
      height: 60vh;

      .Warning {
        color: #ee5253;
        font-weight: 600;
        font-size: 16px;
      }

      .Searchbar {
        width: 100%;
        margin-bottom: 2rem;
      }

      .SearchResultsTest {
        height: 70vh;

        .PanelBody {
          margin: 0rem 0rem 2rem 0rem;
          display: flex;
          flex-direction: column;
          align-content: center;
          width: 100%;

          .SearchResultsTestCard {
            width: 100%;
            border-radius: 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;

            .CardDetails {
              font-size: 16px;
              color: #2c3e50;
              font-weight: 500;
            }

            .ViewMoreBtn {
              color: #1e90ff;
              background-color: #fff;
            }
            .GreenBtn {
              .CardButton {
                color: #fff;
                background-color: #23f15b;
                border: 1px solid #23f15b;
                border-radius: 15px;
              }
            }
            .GreenBtn:hover {
              background-color: #fff;
              color: #23f15b;
            }
          }
        }
      }
    }
  }
}
