.StudentAnalytics {
  .PanelSubHeader {
    display: flex;
    margin-bottom: 1rem;
    .PanelImage img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    h3 {
      margin-left: 4rem;
      margin-top: 3rem;
    }
  }
  .tab-content {
    .Week {
      .WeekHeader {
        font-weight: 700;
        font-size: 1rem;
        color: #2c3e50;
        margin-bottom: 1rem;
      }
      .WeekImages {
        display: flex;

        img {
          width: 150px;
          height: 150px;
          margin: 0 20px;
        }
      }
    }
  }
}
