.Qualification{
  .Homework{
    .container {
      .row {
        .Card {
          .CardBody {
            display: flex;

            justify-content: space-evenly;
            .CardHeader{
              padding-top:6px;
            }
            .CardButton{
              border:none;
              background-color:#fff;
              font-size:14px;
            }
            .CardButton:hover {
              background-color: #cadffa;
            }
            }
          }
        }
      }
    }
  .CardButton {
    //padding:0;
border-radius: 50%;
    cursor: pointer;

    .QualificationBtn {
      margin-right: 0;
      border:0;
      font-size:18px;
      background-color: transparent;

      .DeleteBtn{
        color:#ee5253;
      }
      .DownloadBtn{
        color:#1e90ff;
      }

      }
    }
  }

