$theme-colors: (
        "primary": #fadd57,
        "secondary": #3273dc
);

$font-grey-color: #45484c;
$success-color: #6dcd01;
$xs-screen-size: 576px;
$md-screen-size: 820px;
$lg-screen-size: 992px;
$xl-screen-size: 1200px;
$sidebar-bg-color: #fffff;
$sidebar-color: #363636;
$icon-bg-color: #cecece !default;
$highlight-color: #4545c0;